.appContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(202, 244, 255);
}

.appContainer > * {
    padding: 20px;
}

.inputInfo > *{
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

