.appContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(133, 231, 255);
}

.appContainer > * {
    padding: 20px;
}

.inputInfo > *{
    margin-bottom: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

