*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cvPageContainer{
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 96vh;
}

.infoSection{
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    min-width: 700px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.genInfoSection{
    display: grid;
    gap: 20px;
    padding: 20px;
    border-bottom: 5px solid #000000;
}

.fullName{
    display: grid;
    grid-template-columns: min-content min-content;
    justify-self: center;
    font-size: 1.6em;
    text-align: center;
    gap: 10px;
}

.contactInfo{
    display: grid;
    grid-template-columns: min-content min-content;
    justify-self: center;
    font-size: 1.2em;
    text-align: center;
}

.contactInfo > * + *::before {
    content: "•";
    padding: 0 10px;
}